header {
  background: url("../images/hero_bg.png") 0 0 no-repeat;
  background-size: cover;
  position: relative; }
  header .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f8e514;
    z-index: -1; }

.top-navigation {
  padding-top: 40px; }
  .top-navigation .navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22); }

.navbar-nav a {
  text-transform: uppercase;
  font-weight: 700; }

.navbar-nav > a {
  color: #282528; }

.logo {
  padding: 0;
  line-height: 90px;
  margin-left: 30px; }

.fullWidth {
  left: 0;
  right: 0;
  width: 100%; }

.stuck {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: inherit; }

.hero {
  margin-top: 160px; }
  .hero .hero-details {
    padding-top: 80px; }
  .hero ul {
    margin: 40px 0 80px;
    list-style: none; }
    .hero ul li {
      font-size: 18px;
      font-weight: 300;
      line-height: 36px;
      overflow: hidden; }
      .hero ul li span {
        font-size: 36px;
        margin-right: 15px; }
      .hero ul li span, .hero ul li p {
        float: left; }

.iphone-carousel {
  background: url("../images/large_iphone_slider_bg.png") center 0 no-repeat;
  width: 332px;
  height: 663px;
  margin: 0 auto; }
  .iphone-carousel .carousel-inner {
    margin: 0 auto;
    width: 263px; }
    .iphone-carousel .carousel-inner img {
      padding-top: 98px;
      margin: 0 auto; }

.feature-content {
  padding-bottom: 60px; }

.feature-detail {
  margin-top: 40px;
  padding: 10px 0;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease; }
  .feature-detail span {
    display: block;
    float: left;
    font-size: 40px;
    color: #bdbdbe;
    width: 70px;
    text-align: center;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease; }
  .feature-detail h5, .feature-detail p {
    margin-left: 80px; }
  .feature-detail.active, .feature-detail:hover 
    /*background: #fefbda; }*/
    .feature-detail.active span, .feature-detail:hover span {
      color: #282528; }

.gallery {
  background: #fafafa;
  padding-bottom: 80px; }
  .gallery ul {
    text-align: center; }
  .gallery .item {
    margin: 0 20px;
    text-align: center; }
  .gallery .opac {
    opacity: .3; }

.showreel {
  background: #f8e514;
  font-size: 34px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  padding: 320px 0; }
  .showreel .branded-showreel {
    position: absolute;
    bottom: 30px;
    right: 30px; }
  .showreel a {
    font-weight: 300;
    line-height: 62px;
    display: inline-block; }
  .showreel p {
    float: left;
    font-size: 28px;
    letter-spacing: .5em; }
  .showreel span {
    color: #fff;
    font-size: 62px;
    float: left;
    width: 70px;
    text-align: center;
    display: block; }

.about {
  background: #fafafa;
  padding-bottom: 160px; }

.peeps li:hover figcaption {
  opacity: 1; }
.peeps figure {
  background: #e4e4e4;
  height: 286px;
  position: relative; }
  .peeps figure figcaption {
    padding: 30px;
    background: #f8e514;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    text-align: center;
    opacity: 0; }

.lower-heading {
  margin-bottom: 0; }
  .lower-heading + p {
    color: #646464; }

.social-buttons {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0; }
  .social-buttons li {
    background: rgba(255, 255, 255, 0.3);
    padding: 0; }
    .social-buttons li a {
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 24px;
      text-align: center;
      color: white;
      display: block; }
      .social-buttons li a:hover {
        background: rgba(255, 255, 255, 0.35); }

.testimonials {
  padding-bottom: 160px; }

.testimonial-meta {
  padding: 0; }

.image-holder {
  display: inline-block;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #f8e514;
  background: transparent; }

.featured-in {
  background: #f8e514;
  padding-bottom: 160px;
  margin: 0; }
  .featured-in ul {
    text-align: center; }
  .featured-in li {
    margin-top: 80px; }
    .featured-in li a {
      opacity: .8;
      height: 100px;
      line-height: 100px;
      padding: 0 30px;
      display: block;
      text-align: center;
      -webkit-transition: all .15s ease;
      -moz-transition: all .15s ease;
      -ms-transition: all .15s ease;
      -o-transition: all .15s ease;
      transition: all .15s ease;
      border: 2px solid transparent; }
      .featured-in li a:hover {
        border: 2px solid #fff;
        opacity: 1; }

.contact {
  padding: 0;
  overflow: hidden; }
  .contact .contact-content {
    padding: 80px 0;
    position: relative; }
  .contact h3 {
    font-size: 24px;
    font-weight: 500px;
    margin: 60px 0 30px; }
  .contact .form-action a {
    text-decoration: none;
    font-size: 16px;
    height: 50px;
    line-height: 50px; }
    .contact .form-action a span {
      display: block;
      float: left;
      margin-right: 20px;
      font-size: 42px;
      line-height: inherit; }
  .contact .contact-image {
    position: absolute;
    right: 0;
    bottom: -30%; }

.social-profiles {
  list-style: none;
  margin: 120px 0 0 0; }
  .social-profiles li {
    margin-bottom: 20px; }
    .social-profiles li:last-child {
      margin-bottom: 0; }
  .social-profiles a {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: #bdbdbe;
    font-size: 26px; }
    .social-profiles a:hover {
      color: #646464; }

footer {
  padding: 80px 0;
  border-top: 5px solid #f8e514;
  color: #646464; }
  footer img {
    margin-bottom: 10px; }
  footer h4 {
    font-size: 14px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    margin-bottom: 15px; }
  footer .explore-list li {
    float: left;
    width: 50%; }
  footer a {
    color: inherit;
    text-decoration: none; }
    footer a:hover {
      color: #282528; }
  footer .copyrights i {
    color: #e73142; }
  footer p.about-footer {
    color: #bdbdbe; }

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1100;
  width: 149px;
  height: 149px;
  display: block; }

@media (max-width: 768px) {
  .github-ribbon {
    display: none; }

  .featured-in li {
    margin-top: 10px; }

  .main-navigation {
    float: none;
    width: 100%;
    text-align: center; }

  .special-heading .additional-info {
    padding: 0 20px; }

  .hero .btn-inverted {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px; } }
@media (max-width: 1200px) {
  .hero-details {
    padding-bottom: 40px; }

  .hero {
    margin-top: 0; }
    .hero img {
      display: none; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .iphone-carousel {
    width: 100%;
    background-size: contain; }
    .iphone-carousel .carousel-inner {
      width: 79%; }
      .iphone-carousel .carousel-inner img {
        padding-top: 38%; } }
@media (max-width: 992px) {
  .feature-content {
    padding-bottom: 60px; }

  .showreel {
    padding: 160px 0; }

  .testimonials {
    padding-bottom: 40px; }

  .about,
  .featured-in {
    padding-bottom: 0px; }

  .heading:before, .heading:after {
    display: none; }

  .features img,
  .contact-image img {
    display: none; } }
    .opensansbold {font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 19.8px;}
  .opensansregular{
    font-family: "Open Sans";
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight:
  line-height: 19.8px;
  }
.opensanssemibolditalic {font-family: "Open Sans";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 36.1px;}

  .opensanssemibolditalica {font-family: "Open Sans";
  font-size: 21px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 24.1px;}
  .opensanssemibolditalicas {font-family: "Open Sans";
  font-size: 37px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 40.7px;}
  .opensanssemibolditalico {font-family: "Open Sans";
  font-size: 18.5px;
  font-style: normal;
  font-variant: normal;
  font-weight: 350;
  line-height: 2em;}
  .opensanssemibolditalicos {font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 350;
  line-height: 26.1px;}
.owlpadding {padding-left: 27px;}
.opensanssemi {font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 350;
  line-height: 19.8px;}
  .Subscribe {font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 42.8px;}
    .paddinglefttext {padding-left: 15px;}
    .opensanslist {    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 350;
    line-height: 33.7px;
    color: #6f6f71;
}
    .explore {;
      margin-bottom: 5px;}
    .footertextda {font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 350;
    line-height: 24.8px;}
    .paddingtxet {padding-top: 45px;}